body {
    display: flex;
    justify-content: center;
}

.list {
    width: 700px;
    background-color: hotpink;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .lists {
        background-color: hotpink;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        p {
            background-color: aqua;
            padding: 20px;
            width: 700px;
            height: 0px;
            opacity: 0;
            transition: 400ms;
        }
    }
    
}

.active {
    opacity: 1 !important;
    height: 100px !important;
}
